<h1><%= @toy[:title] %></h1>
<p><%= @toy[:toy_body] %></p>
<form action="/<%= @toy[:id]%>" method="toy">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit"  value="Delete">
</form>
<a href="<%= @toy[:id] %>/edit">Edit</a>
